*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Roboto' !important;
}
:root{
    --background: #231f20;
    --wrong: #bb4430;
    --good: #7ebdc2;
    --inputs: #efe6dd;
    --label: #f3dfa2;
}
h1{
    font-size: 4rem;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}
main{
    width: 100%;
    height: 85vh;
}
header{
    width: 100%;
    height: 15vh;
}
.input_text_box, .box_word_appears{
    width: 30rem;
    height: 4rem;
    border-radius: 5px;
}
.input_text_box{
    background-color: var(--inputs);
}
.box_word_appears{
    background-color: var(--label);
}
.word_appears{
    font-weight: bold;
    font-size: 3.5rem;
    padding: 10px;
}
input{
    font-size: 3.5rem;
    font-weight: bolder;
}
.sampleSentence, .sampleSentenceSpa{
    height: 23rem;
    width: 20rem;
    border-radius: 10px;
    
}
.sampleSentence{
    background-color: var(--label);
}
.sampleSentenceSpa{
    background-color: var(--inputs);
}
.textsentence{
    padding: 1.4rem !important;
    font-size: 1.5rem;
    font-weight: medium;
}
.boton_reset{
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}
::placeholder{
    color: gray;
    font-size: 1.5rem;
    text-align: center;
}